* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

main {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Bai Jamjuree", sans-serif;;
}

header {
    background-image: url(images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;

    padding-top: 80px;
}

h1 {
    padding-left: 220px;
    padding-right: 220px;
    color: hsl(210, 10%, 33%);
}

#p1 {
    padding-left: 251px;
    padding-right: 251px;
}

#AlinharL {
    padding-top: 5px;
}

#Lheader {
    background-color: hsl(171, 66%, 44%);
    width: 250px;
    margin-left: 180px;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 8px;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

#Lheader1 {
    background-color: hsl(233, 100%, 69%);
    width: 250px;
    margin-left: 180px;
    border-radius: 20px;
    padding: 8px;
}

#Tamanho1 {
    width: 300px;
}

#Tamanho2 {
    width: 290px;
}

h2 {
    padding: 90px 230px 0px 230px;
    color: hsl(210, 10%, 33%);
}

h3 {
    color: hsl(210, 10%, 33%);
}

p {
    padding: 15px 230px 30px 230px;
    color: hsl(201, 11%, 66%);
    font-size: 14px;
}

#p2 {
    padding-left: 240px;
    padding-right: 240px;
}

.paddingP {
    padding-left: 300px;
    padding-right: 300px;
}

#Icon1 {
    padding-top: 80px;
}

.IconsFim {
    padding-bottom: 60px;
}

footer {
    background-color: hsl(201, 11%, 66%);
}

.Lfooter {
    margin-bottom: 15px;
    text-decoration: none;
    display: block;
}

.AlinharIcon {
    margin-left: 24px;
}

.iconf {
    margin-right: 30px;
}