* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Bai Jamjuree", sans-serif;

    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;

}

header {
    margin-top: 7.5rem;
}

.flex-display {
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin-align {
    margin-top: 7rem;
}

.flex-icon {
    display: flex;
    justify-content: center;
}

#IconHeader {
    margin-bottom: 50px;
    height: 100px;
}

h1 {
    padding-left: 20px;
    padding-right: 20px;
    color: hsl(210, 10%, 33%);
}

.AlinharL {
    padding-top: 5px;
}

.AlinharL p {
    width: 600px;
    margin: auto;
}

.flex-align {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.width-change {
    width: 205px;
}

.lConfig {
    background-color: hsl(171, 66%, 44%);
    width: 190px;
    margin-left: 60px;
    margin-bottom: 15px;
    border-radius: 60px;
    padding: 10px 0px;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.lConfig1 {
    background-color: hsl(233, 100%, 69%);
    width: 190px;
    margin-left: 60px;
    margin-bottom: 15px;
    border-radius: 60px;
    padding: 10px 0px;
}

.p1 {
    width: 660px;
    margin: auto;
}

.image {
    justify-content: space-around;
}

#Tamanho1 {
    min-width: 600px;
}

.align-content {
    margin-top: 70px;
}

.align-content h3 {
    text-align: left;
}

.align-content p {
    width: 500px;
    text-align: justify;
}

#Tamanho2 {
    width: 600px;
    margin-top: 40px;
}

.Organizar {
    column-count: 3;
    margin-top: 30px;
}

h2 {
    padding: 90px 52px 0px 52px;
    color: hsl(210, 10%, 33%);
}

h3 {
    color: hsl(210, 10%, 33%);
    padding: 20px 100px 0px 100px;
}

p {
    padding: 15px 52px 30px 52px;
    color: hsl(201, 11%, 66%);
    font-size: 14px;
}

.columns-icons {
    column-count: 5;
}

#Icon1 {
    padding-top: 80px;
}

.IconsFim {
    padding-bottom: 60px;
}

#Fim {
    padding-left: 60px;
    padding-right: 60px;
}
#pFim {
    padding-left: 53px;
    padding-right: 53px;
}

#SpaceBottom {
    margin-bottom: 130px;
}

footer {
    background-color: hsla(0, 0%, 89%, 0.301);
}

#AjustesL{
    height: 50px;
    margin-top: 40px;
    margin-bottom: 30px;
}

#Espaco {
    margin-bottom: 45px;
}

.Lfooter {
    margin-bottom: 15px;
    text-decoration: none;
    display: block;
    font-weight: 600;
    color: gray;
}

.AlinharIcon {
    margin-left: 15px;
}

.ConfigBottom {
    padding-bottom: 30px;
}

#Afastar {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 31px;
}

.iconf {
    margin-right: 30px;
}